services:
  direwolf:
    # image: direwolf:latest
    build:
      context: ./build
      dockerfile: Dockerfile
    container_name: direwolf
    restart: unless-stopped

    volumes:
      - ./config/direwolf.conf:/etc/direwolf/direwolf.conf:ro
      # - ./data:/var/lib/direwolf

    devices:
      - /dev/snd:/dev/snd  # Pour la carte son USB
      # - /dev/gpiomem:/dev/gpiomem # Pour l'accès GPIO old OS
      - /dev/gpiochip0:/dev/gpiochip0 # Pour l'accès GPIO Bookworm (The RPi model 5, uses gpiochip4)

    ports:
      - "8001:8001/tcp" # KISS TCP (si tu utilises KISSPORT 8001)
    
    environment:
      - TZ=Europe/Paris
      - DW_CONFIG=/etc/direwolf/direwolf.conf
